.GameBoard {
	background-color: hsl(350, 100%, 88%, 0.2);

	display: grid;
	grid-template-columns: repeat(30, 1fr);
	grid-template-rows: repeat(30, 1fr);

	height: 600px;
	width: 300px;
}

/* .GameBoard > * {
	background-color: hsl(51, 100%, 50%, 0.5);
} */

/* .GameBoard {
	outline: 10px dashed yellow;
} */
