.GameBoard {
	background-color: hsl(350, 100%, 88%, 0.2);

	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(40, 1fr);

	@media (min-width: 500px) {
		grid-template-columns: repeat(40, 1fr);
		grid-template-rows: repeat(20, 1fr);
	}
}

.GameBoard > * {
	background-color: hsl(51, 100%, 50%, 0.5);
}
