.GameGrid {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

.GameGrid > header {
	grid-column: 1 / 11;
	grid-row: 1 / 3;
	align-self: center;
	justify-self: center;
}

.GameGrid > header > h1 {
	color: var(--white-one);
	font-weight: 600;
	font-style: italic;
}

.GameGrid > section {
	background-color: hsl(350, 100%, 88%, 0.25);

	grid-column: 2 / 10;
	grid-row: 3 / 19;

	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 1fr);

	overflow: hidden;
}

.GameGrid > footer {
	grid-column: 1 / 11;
	grid-row: 19 / 21;
	align-self: center;
	justify-self: center;

	border-radius: 1rem;
}
