.Game {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	padding: 2rem;
}

.Game > header,
.Game > footer {
	/* this passes down the border-radius inherited by the "Return" button */
	border-radius: 1rem;
}

.Game > header > h1 {
	color: var(--white-one);
	font-weight: 600;
	font-style: italic;
}

.Game {
	outline: 12px dashed white;
	& > * {
		outline: 2px dashed white;
	}
}
