.Landing {
	border-radius: 1rem;

	margin-block: auto;
	margin-inline: auto;
	padding: 1rem;
}

.Landing > section {
	border-radius: inherit;
}

.Landing > section:first-child {
	border-color: var(--white-one);
	border-style: solid;
	border-width: 2px;

	background-color: hsl(
		var(--teal-light-hue),
		var(--sat-75),
		var(--light-70),
		var(--opacity-75)
	);

	padding: 1rem;
}

.Landing > section:first-child > h1 {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: var(--white-one);
	font-size: 1.5rem;
	font-weight: 500;
}

.Landing section:last-child {
	border-radius: inherit;
	padding: 1rem;
	text-align: center;
}

/* .Landing {
	outline: var(--test-outline);

	& > section {
		outline: var(--test-outline);
	}
} */
