.Landing {
	border-radius: 1rem;

	margin-block: auto;
	margin-inline: auto;
	padding: 1rem;

	& > section {
		border-radius: inherit;
	}

	& > section:first-child {
		background-color: hsl(
			var(--teal-light-hue),
			var(--sat-75),
			var(--light-70),
			var(--opacity-75)
		);

		padding: 1rem;

		& > h1 {
			display: flex;
			flex-direction: column;
			align-items: center;

			color: var(--white-one);
			font-size: 1.5rem;
			font-weight: 500;
		}
	}

	& > section:last-child {
		border-radius: inherit;
		padding: 1rem;

		text-align: center;

		& > button {
			border-radius: inherit;
			background: linear-gradient(
				0deg,
				hsl(var(--blue-hue), var(--sat-100), var(--light-30)),
				hsl(var(--blue-hue), var(--sat-100), var(--light-40)),
				hsl(var(--blue-hue), var(--sat-100), var(--light-50)),
				hsl(var(--blue-hue), var(--sat-100), var(--light-60))
			);

			padding: 5px 10px;

			color: hsl(var(--hue-0), var(--sat-0), var(--light-85));
		}
	}
}

.Landing {
	outline: var(--test-outline);

	& > section {
		outline: var(--test-outline);
	}
}
