.Landing {
	border-radius: 1rem;
	background-color: hsl(172, 76%, 69%, 0.75);

	margin-block: auto;
	margin-inline: auto;

	padding: 1rem;

	color: var(--white-one);

	& > h1 {
		font-size: 1.5rem;
		font-weight: 500;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
