/* PLANET */
.Planet {
	border-radius: 100rem;

	padding: 1rem;
	overflow: hidden;
	aspect-ratio: 1 / 1;

	max-height: 100%;
	max-width: 100%;
	/* width: fit-content; */
	/* width: inherit; */

	display: flex;
}

/* PLANET TITLE */
.Planet > div {
	margin: auto;

	color: var(--white-one);
	font-size: clamp(0.75rem, 5vw, 100%);
	font-style: italic;
	text-shadow: 0 0 10px hsl(var(--hue-0), var(--sat-0), var(--light-20));

	word-break: break-all;

	max-height: 100%;
	overflow: hidden;
}

.Planet {
	/* outline: 2px dashed aqua; */
	& > div {
		/* outline: 2px dashed yellow; */
	}
}
