.Planet {
	/* background-color: hsl(51, 100%, 50%, 0.5); */
}

/* PLANET */
.PlanetBody {
	border-radius: 100rem;

	aspect-ratio: 1 / 1;
	height: 100%;
	width: 100%;

	align-self: center;
	justify-self: center;

	display: flex;

	/* outline: 2px dashed aqua; */
}

/* PLANET TITLE */
.PlanetName {
	border-radius: 0.25rem;

	width: fit-content;
	margin: auto;
	padding-block: 2px;
	padding-inline: 2px 4px;

	color: var(--white-one);
	font-size: clamp(1rem, 2vw, 3rem);
	font-style: italic;
	text-shadow: 0 0 10px hsl(var(--hue-0), var(--sat-0), var(--light-20));

	outline: 2px dashed yellow;
}
