.Ring {
	border-radius: 100rem;
	border-width: 2px;
	border-style: solid;
	border-color: yellow;

	padding: 5px;
	/* min-width: fit-content; */
	/* max-width: 100%; */
	/* max-height: 100%; */
	width: fit-content;
}
