.Ring {
	border-radius: 100rem;
	border-width: 2px;
	border-style: solid;
	border-color: yellow;

	padding: 5px;

	aspect-ratio: 1 / 1;
	max-height: 100%;
	max-width: 100%;
	/* width: fit-content; */
}
